
@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "colors";
@import "buttons";

body {
  user-select: none;
  background: $dark;
  color: white;
}

canvas {
  border: 2px solid $brown;
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
}

.app-heading {
  color: $yellow;
  text-shadow: 2px 2px 2px $orange;
}

svg {
  height: 16px;
  width: 16px;
}
