
@font-face {
  font-family: 'depixelklein';
  src: url('../fonts/depixel/depixelklein-webfont.eot');
  src: url('../fonts/depixel/depixelklein-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/depixel/depixelklein-webfont.woff2') format('woff2'),
  url('../fonts/depixel/depixelklein-webfont.woff') format('woff'),
  url('../fonts/depixel/depixelklein-webfont.ttf') format('truetype'),
  url('../fonts/depixel/depixelklein-webfont.svg#depixelklein') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rixel';
  src: url('../fonts/rixel/rixel.woff2') format('woff2'),
  url('../fonts/rixel/rixel.woff') format('woff'),
  url('../fonts/rixel/rixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
